#menu ul {
  margin: 0;
  padding: 0;
}

#menu .main-menu {
  display: none;
  
}

#tm:checked + .main-menu {
  display: block;
}

#menu input[type="checkbox"], 
#menu ul span.drop-icon {
  display: none;
}

#menu li, 
#toggle-menu, 
#menu .sub-menu {
  border-style: solid;
  border-color: rgba(0, 0, 0, .05);
}

#menu li, 
#toggle-menu {
  border-width: 0 0 1px;
  border-style: solid;
}

#menu .sub-menu {
  background-color: white;
  margin: 0 1em;
}

#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li, 
#toggle-menu, 
#menu a {
  position: relative;
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 12px;
  line-height: 45.5px;
}

#menu, 
#toggle-menu {
  background:none,
}

#toggle-menu, 
#menu a {
  padding: 2px 28px;
}

#menu a {
  transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
  background-color: #f38636;
  color: rgb(30, 52, 148);;
}

#menu .sub-menu {
  display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
  display: block;
}

#menu .sub-menu a:hover {
  color: rgb(30, 52, 148);
  
}

#toggle-menu .drop-icon, 
#menu li label.drop-icon {
  position: absolute;
  right: 1.5em;
  top: 1.25em;
}
/*nah
#menu label.drop-icon, #toggle-menu span.drop-icon {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, .125);
  text-shadow: 0 0 0 transparent;
  color: rgba(255, 255, 255, .75);
}
*/

#menu .drop-icon {
  line-height: 1;
}
@media only screen and (min-width: 1190px) {
  #menu .main-menu {
    display: block;

  }

  #toggle-menu, 
  #menu label.drop-icon {
    display: none;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li {
    float: left;
    border-width: 0 1px 0 0;
  }

  #menu .sub-menu li {
    float: none;
  }

  #menu .sub-menu {
    border: 2px solid rgb(133, 62, 21);
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 24em;
    z-index: 3000;
  }

  #menu .sub-menu, 
  #menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
  }

  #menu .sub-menu li {
    border-width: 0 0 1px;
  }

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

 #menu .sub-menu .drop-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.55em;
  }

  #menu li:hover > input[type="checkbox"] + .sub-menu {
    display: block;
  }
}
#toggle-menu, 
#menu a {
  padding: 0.em;
}

footer div.container-fluid img{
  width: 60%;
  margin: auto;
  display: block;
}
footer {
  margin: 43px;
  padding: 300px;
}

@media only screen and (max-width: 1026px) {
  .no {
      display: none;
  }
  iframe {
    display: none;
  }
  
}
/* logo */
.no {
  float: left;
  height: auto;
  overflow:hidden;
  height: 45.5px;
}

div.container-fluid .first{
  margin-top: 50px;
}
.op {
  background-image: url(/image/qsddsqsqqsqsqsqq.png);
}
footer div.container-fluid {
  width: 100%;
  background-color: rgb(126, 117, 117);
}
/* [1] The container */
.img-hover-zoom {
  height: 100%; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

